
.vscode/launch.json

*.csproj

Library/*

*.sln

server.log

Temp/*

Server/log/*
test.log

Server/bin/logs/error.log

Assets/Cinemachine/*

Assets/Gizmos/*

obj/*

Server/bin/logs/*

Assets/Automatine/*

Assets/Character_Witch_Dragon/*

Assets/EasyTouchControls/*

PCClient.app/*

client.log

iOS/*
